{
	"presets": [
		"env"
	],
	"plugins": [
		"transform-flow-strip-types",
		[
			"transform-runtime",
			{
				"helpers": false,
				"polyfill": false,
				"regenerator": true,
				"moduleName": "babel-runtime"
			}
		]
	]
}